* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Header and nav styles */
/* Marry */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 51px;
}

.button-primary {
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    border: 0;
    padding: 18px 35px;
}

/* Banner */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-des {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

header {
    background-color: #FFF8F3;
    background-image: url('header_bg.png'), url('developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* about section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}
section {
    margin-top: 130px;
}
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}

.section-des {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

.about-info-container {
    font-size: 20px;
    color: #757575;
    display: flex;
    justify-content: space-around;
}

/* about er motthe joto info title asee */
.about .info-title {
    font-size: 20px;
    color: #757575;
}

.info-des {
    font-size: 20px;
    color: #474747;
    font-weight: 700F;
}



.skill-container {
    display: flex;
    gap: 24px;
}

.sikll-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}